.header {
	height: 50px;
	background-color: #cdcdcd;
	background: url(../../assets/images/header.jpg) center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 15px;
  }